body {
	margin: 0;
	height: 100svh;
	background-color: #f1f5f9;
}

#root {
	display: grid;
}

header {
	display: grid;
	justify-content: center;
	background-color: #0f172a;
	color: white;
}

nav {
	display: grid;
	justify-content: center;
	background-color: #1e293b;
	color: white;
	font-weight: bold;
}

ul {
	display: grid;
	grid-auto-flow: column;
	gap: 50px;
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

.shop {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 250px;
}

.home,
.products {
	background-color: #f1f5f9;
	display: grid;
	justify-content: center;
	justify-items: center;
	padding: 20px;
}

.products {
	/* grid-auto-flow: column; */
	grid-template-columns: repeat(auto-fill, 320px);
	gap: 20px;
}

.card {
	background-color: white;
	box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.1);
	width: 300px;
	padding: 10px;
	display: grid;
	font-size: 0.8rem;
	justify-items: center;
	align-content: space-between;
	position: relative;
}

input {
	width: 30px;
}

.in-cart {
	position: absolute;
	bottom: 7px;
	right: 10px;
}

.card h2,
.card p,
.card h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

img {
	height: 200px;
	justify-self: center;
}

aside {
	background-color: white;
	padding-left: 15px;
}
